$color-black: #121c1e;
$color-white: #fff;
$color-cyan: #278d9f;
$color-yellow: #fdd700;
$color-red: #fd0000;
$color-blue: #1976d2;
$color-beige: #cbb77a;
$color-border: #626f71;
$color-grey: #cccccc;
$color-dark-grey: #666;
$color-semitransparent: hsla(0, 0%, 100%, 0.3);
$color-overlay: rgba(80, 80, 80, 0.4);
$color-reset: rgba(19, 20, 21, 0.3);
$color-slider: rgba(25, 118, 210, 0.38);

$content-width: 1600px;
$pc-small-width: 1280px;
$tablet-big-width: 1024px;
$tablet-width: 768px;
$mobile-width: 414px;
$mobile-small-width: 320px;
