@mixin columns($width, $justify) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justify;
  > * {
    flex-basis: $width;
  }
}

@mixin grid-columns($width, $repeat) {
  display: grid;
  width: $width;
  margin: auto;
  grid-template-columns: $repeat;
  gap: 20px;
}
