%transition {
  transition: all 0.3s ease-out;
}

%custom-scroll {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px $color-grey;
  }
  &::-webkit-scrollbar-thumb {
    background: $color-cyan;
    border-radius: 10px;
  }
}