.store-content__search-window {
  backdrop-filter: blur(3px);
  background-color: rgba(19, 20, 21, 0.3);
  border: 1px solid $color-cyan;
  border-radius: 20px;
  padding-left: 20px;
}

#search-input {
  background-color: transparent;
  background-image: url(../src/assets/media/search.svg);
  background-position: calc(100% - 20px);
  background-repeat: no-repeat;
  background-size: 20px;
  border: 0;
  color: $color-white;
  font-size: 18px;
  height: 40px;
  margin-right: 0;
  width: 100%;
  &:focus-visible {
    outline: none;
  }
}
