$color-black: #121c1e;
$color-white: #fff;
$color-cyan: #278d9f;
$color-yellow: #fdd700;
$color-red: #fd0000;
$color-blue: #1976d2;
$color-beige: #cbb77a;
$color-border: #626f71;
$color-grey: #cccccc;
$color-semitransparent: hsla(0, 0%, 100%, 0.3);

$content-width: 1600px;
$tablet-big-width: 1024px;
$tablet-width: 768px;
$mobile-width: 414px;
$mobile-small-width: 320px;
