.store-content__filter-group {
  background-color: $color-reset;
  border: 1px solid $color-white;
  border-radius: 10px;
  backdrop-filter: blur(3px);
  padding: 10px 20px;
  min-width: 328px;
}

.store-content__manufacturer-filter,
.store-content__camera-filter,
.store-content__color-filter,
.store-content__popular-filter {
  display: inline-flex;
  width: 100%;
  align-items: center;
}

.store-content__filter-title {
  margin: 10px 0;
}

.store-content__filter-subtitle {
  margin: 15px 0 5px;
}

.store-content__search {
  margin-bottom: 20px;
}

.store-content__reset {
  margin: 30px 0 10px;
}

.store-content__amount-numbers,
.store-content__year-numbers {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  backdrop-filter: blur(6px);
  border: 1px solid $color-cyan;
  border-radius: 20px;
  min-width: 80px;
  margin: 10px 0;
}
